<link rel="stylesheet" href="/css/header.css" /> 


<header>
    <a href="/">
    <div class="wrapper">
      <img
        class="logo"
        src="/images/logo.png"
        alt="logo"
        
        center
        cover
      />
    </div>
</a>
    <div class="wrapper" id="title"><h1>Dead Cow Diner</h1></div>
    <a class="icon" onclick="myFunction()">&#9776;</a>
  </header>
  <nav id="navbar" class="nav">
    <ul>
      <li><a href="/contenu">Notre histoire</a></li>
      <li><a href="/produits">Carte</a></li>
      {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
      <li><a href="/coordonnees">Coordonées</a></li>
      <li><a href="/commentaires/public">Commentaires</a></li>
      <li><a href="/espace_admin">Espace Admin</a></li>
      <li><a href="/logout">Déconnexion</a></li>
      {%else%}
      <li><a href="/reservations/new">Reserver</a></li>
      <li><a href="/coordonnees">Coordonées</a></li>
      <li><a href="/commentaires/public">Commentaires</a></li>
      <li><a href="/login">Se connecter</a></li>
      {%endif%}
    </ul>
  </nav>
  