<link rel="stylesheet" href="/css/header.css" /> 

<header>
    <a href="/">
    <div class="wrapper">
      <img
        class="logo"
        src="/images/logo.png"
        alt="logo"
        width="250px"
        center
        cover
      />
    </div>
</a>
    <div class="wrapper" id="title"><h1>Dead Cow Diner</h1></div>
    <a class="icon" onclick="myFunction()">&#9776;</a>
  </header>
  <nav id="navbar" class="nav">
    <ul>
      <li><a href="/espace_admin">Espace Admin</a></li>
      <li><a href="/commentaires">Commentaires</a></li>
      <li><a href="/produits">Produits</a></li>
      <li><a href="/reservations">Reservations</a></li>
      <li><a href="/contenu/1/edit">Contenu</a></li>
      <li><a href="/logout">Déconnexion</a></li>
    </ul>
  </nav>
