{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{{ include('header/header.html.twig') }}
<link rel="stylesheet" href="/css/reserv.css">  
<link rel="stylesheet" type="text/css" href="/css/main.css" />


  
<div class="div_h2">
    <h2 class="text-center my-5">Creer le compte admin (unique)</h2>
</div>
<div class="m-5 p-3 formulaire">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn btn-primary mt-3" type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
