

/* Footer */

footer{
    background: #000000;
    color: #000000;
    display: flex;
    height: 10rem;
    width: 100vw;
}

.box_footer{
    align-self: center;
    margin: 0 auto;
}

.box_logo{
    align-self: center;
}

.textfoot{
    margin: 2px;
}

#logofacebook{
    height: 20vh;
    align-self: flex-start;
    padding-left: 20px;
}

/*  Media queries */

@media screen and (max-width: 860px){
.top_index{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-gap: 30px;
    padding: 0;
}
.input_reservation{
    margin: 0;
}

#currently{
    margin-top: 30px;
}

nav ul, nav ul li, #navbar{
    display: none;
    margin: 0;
}

#navbar{
    top: 0;
    bottom: 1;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 7.3rem;
    height: 150px;
    width: 20rem;
    border-radius: 20px;
}

ul{
    border-radius: 20px;
}

#navbar > ul{
    border-bottom: 1.5vh solid #F2B05E;
    border-top: 1.5vh solid #F2B05E;
}

#navbar ul li a{
    border-bottom: 1px solid #F2B05E;
    color: #000000;
}

#demo{
    width: 100%;
    margin-top: 5px;
}

.icon{
    display: block;
    position: absolute;
    right: 0;
    width: 30%;
    text-align: center;
    font-size: 2.5em;
    color: #000000;
    padding-top: 10px;
}

.icon:hover{
    color: #F2B05E;
}

.logo{
    width: 65vw;
}

nav ul, nav ul li, #navbar.responsive{
    display: grid;
    text-align: center;
    background: #222126;
}



nav ul li a{
    text-decoration: none;
    color: #000000;
    font-family: Aladin;
    font-size: 1.5rem;
    padding: 5px;
    text-align: center;     
}

ul{
    border: .5vh solid #F2B05E;
    width: 150px;
    height: 300px;
}

nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}
    
nav ul li a:hover{
    background: #F2B05E;
    border-radius: 20px;
}

h1{
    display: none;
}

#title {
    margin: 0;
}

}


