{% extends 'base.html.twig' %}

{% block title %}Edit Produits{% endblock %}

{% block body %}

<link rel="stylesheet" type="text/css" href="/css/reserv.css" />
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
{{ include('header/headerAdmin.html.twig') }}
    <main>
        <div class="div_h2"><h2>Modif Produit</h2></div>

        <div class = "formulaire m-5 px-5 py-2">
    {{ include('produits/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('produits/_delete_form.html.twig') }}
</div>

    {% else %}
    {{ include('header/header.html.twig') }}
    <p>Accés refusé, veuillez vous connecter </p>
    {% endif %}
{% endblock %}
