{% extends 'base.html.twig' %}

{% block title %}Produits index{% endblock %}

{% block body %}
<link href="/css/carte2.css" rel="stylesheet">

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
{{ include('header/headerAdmin.html.twig') }}
{%else%}
{{ include('header/header.html.twig') }}
{%endif%}

<div class="descriptionHamburger">Carte des produits</div>
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<a class = "btn btn-primary mt-5" href="{{ path('app_produits_new') }}">Ajouter un produit</a>
{%endif%}
<article>
    {% for produit in produits %}
    <div class="containerHamburger">
        <h2>{{ produit.nom }} {{ produit.prix }}€</h2>
        <div class="photoHamburger">
        <img class = "carteImages" src="/uploads/{{ produit.image }}">
    </div>
        <div class="descriptionHamburger">
            <p>
                {{ produit.description }}
            </p>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% endif %}
        </div>
        <div class="dispoHamburger">

            
            {% if produit.disponibilite %}
                <div class="roundDispoHamburger" id="roundDispoHamburgerOk"></div> 
            {% else %}
                <div class="roundDispoHamburger" id="roundDispoHamburgerKo"></div> 
            {%endif%}

            <div id="textDispoHamburger">
                <p>{{ produit.disponibilite ? 'Disponible' : 'Indisponible' }}</p>
            </div>
        </div>
        <a class="btn btn-primary mt-3" href="{{ path('app_produits_edit', {'id': produit.id}) }}">Modifier</a>
    </div>
    
    {% else %}
    <p class="article">C'est vide</p>
{% endfor %}

</article>
    
<script>document.getElementsByTagName('link')[0].disabled = true; </script>


{% endblock %}
