{% extends 'base.html.twig' %}

{% block title %}New Produits{% endblock %}

{% block body %}

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
{{ include('header/headerAdmin.html.twig') }}
<link rel="stylesheet" href="/css/reserv.css">

    <h2 class="text-center">Produits</h2>
    <div class = "formulaire m-5 px-5 py-2">
    {{ include('produits/_form.html.twig') }}

    </div>

    <a class ="btn btn-primary mx-5" href="{{ path('app_produits_index') }}">back to list</a>
    {% else %}
    {{ include('header/header.html.twig') }}
    <p>Accés refusé, veuillez vous connecter </p>
    {% endif %}
{% endblock %}
