{% extends 'base.html.twig' %}

{% block title %}Edit Commentaires{% endblock %}

{% block body %}


<link rel="stylesheet" type="text/css" href="/css/reserv.css" />
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

{{ include('header/headerAdmin.html.twig') }}


<main>
    <div class="div_h2"><h2>Modif commentaire</h2></div>

    <div class="container_commentaires">

        <div class = "formulaire m-5 px-5 py-2">
    {{ include('commentaires/_form.html.twig', {'button_label': 'Update'}) }}
    <a class ="btn btn-primary m-3" href="{{ path('app_commentaires_index') }}">back to list</a>

    {{ include('commentaires/_delete_form.html.twig') }}
        </div>
        
    </div>
</main>



    {%else%}
    {{ include('header/header.html.twig') }}
    <p>Accés refusé, veuillez vous connecter </p>
    {% endif %}
{% endblock %}
