{% extends 'base.html.twig' %}

{% block title %}Commentaires index{% endblock %}

{% block body %}

<link href="/css/carte2.css" rel="stylesheet">

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
{{ include('header/headerAdmin.html.twig') }}
{%else%}
{{ include('header/header.html.twig') }}
{%endif%}

<div class="descriptionHamburger">Commentaires</div>

<div class="text-center">
<a class = "btn btn-primary m-5" href="/commentaires/new">Donner votre avis</a>
</div>

<article>
    {% for commentaire in commentaires %}

    {% if commentaire.visible %}
    <div class="containerHamburger">
        <h2>{{ commentaire.pseudo }}</h2>
        <div>
    </div>
        <div class="descriptionHamburger">
            <p>
                {{ commentaire.commentaire }}
            </p>
        </div>
        <div class="dispoHamburger">

            
           

            <div id="textDispoHamburger">
            </div>
        </div>
    </div>
    {%endif%}
{% endfor %}

</article>


    
<script>document.getElementsByTagName('link')[0].disabled = true; </script>

    

    
{% endblock %}
