{% extends 'base.html.twig' %}

{% block title %}Commentaires index{% endblock %}

{% block body %}

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}


{{ include('header/headerAdmin.html.twig') }}
<link rel="stylesheet" href="/css/reserv.css">  
<link rel="stylesheet" type="text/css" href="/css/main.css" />






  
<div class="div_h2">
    <h2 class="text-center my-5">Commentaires</h2>
</div>
    <table class="table">
        <thead>
            <tr>
                <th class="responsivehide">Id</th>
                <th class="responsivehide" >Pseudo</th>
                <th>Commentaire</th>
                <th>Visible</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td class="responsivehide">{{ commentaire.id }}</td>
                <td class="responsivehide">{{ commentaire.pseudo }}</td>
                <td>{{ commentaire.commentaire }}</td>
                <td>{% if commentaire.visible %}
                    oui
                    {%else%}
                    non
                    {%endif%}

                </td>
                <td>
                   
                    <a class="btn btn-primary m-3" href="{{ path('app_commentaires_edit', {'id': commentaire.id}) }}">edit</a>
                    {{ include('commentaires/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
<div>C'est vide </div>
        {% endfor %}
        </tbody>
    </table>

    <a class = "btn btn-primary" href="{{ path('app_commentaires_new') }}">Create new</a>


    {% else %}
    {{ include('header/header.html.twig') }}
    <p>Accés refusé, veuillez vous connecter </p>
    {% endif %}

    
{% endblock %}
