{% extends 'base.html.twig' %}

{% block title %}New Commentaires{% endblock %}

{% block body %}
{{ include('header/header.html.twig') }}
<link rel="stylesheet" href="/css/reserv.css">



    <h2 class="text-center">Donnez votre avis</h2>
    <div class = "formulaire m-5 px-5 py-2">
    {{ include('commentaires/_form.html.twig') }}
    </div>
{% endblock %}
