{% extends 'base.html.twig' %}

{% block title %}DcD Index{% endblock %}

{% block body %}


<link rel="stylesheet" href="./css/main.css" /> 
{{ include('header/header.html.twig') }}


{% if app.request.get('commentaire') == 1%}
<div class="alert alert-success alert-dismissible fade show">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <p class = "text-center" > Votre commentaire à bien été envoyé, il sera publié aprés verification.</p>
</div>
  {%endif%}

  {% if app.request.get('reserv') == 1%}
<div class="alert alert-success alert-dismissible fade show">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <p class = "text-center" > Votre reservation à bien été enregistrée. </p>
</div>
  {%endif%}

  <main>
    <div class="top_index">
      <div id="currently">
        <div id="open"></div>
        <p id="currently_open">Restaurant ouvert</p>
      </div>

      <a href="/reservations/new"><div class="input_reservation"></div></a>
    </div>

    <div id="demo" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="0"
          class="active"
        ></button >
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="1"
        ></button>
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="2"
        ></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="/images/burger1.jpg"
            alt="burger"
            class="d-block w-100"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/images/burger2.jpg"
            alt="burger2"
            class="d-block w-100"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/images/burger3.jpg"
            alt="burger3"
            class="d-block w-100"
          />
        </div>
      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#demo"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#demo"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </main>
  <script src="/JS/index_date.js"></script>




{% endblock %}
