<form method="post" action="{{ path('app_contenu_delete', {'id': contenu.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contenu.id) }}">
    <button class="btn btn-primary m-3">Delete</button>
</form>
