{% extends 'base.html.twig' %}

{% block title %}Edit Contenu{% endblock %}

{% block body %}

<link rel="stylesheet" type="text/css" href="/css/reserv.css" />
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
{{ include('header/headerAdmin.html.twig') }}
<main>
    <div class="div_h2"><h2>Modif contenu</h2></div>
    <div class="m-5 p-3 formulaire">
    {{ include('contenu/_form.html.twig', {'button_label': 'Update'}) }}
    </div>



    {% else %}
    {{ include('header/header.html.twig') }}
    <p>Accés refusé, veuillez vous connecter </p>
    {% endif %}
{% endblock %}
