{% extends 'base.html.twig' %}

{% block title %}Contenu index{% endblock %}

{% block body %}
{{ include('header/header.html.twig') }}




    {% for contenu in contenus %}

    <link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/carte2.css">
    <main id="white-bg">
    <div class="row histoire">
        <img class=" histoirecol" src="/uploads/{{ contenu.image1 }}">
        <p class="histoirecol text-break">{{ contenu.text1 }}</p>
        <img class=" histoirecol" src="/uploads/{{ contenu.image2 }}">
    </div>

    <div class="row histoire">
        <p class="histoirecol text-break">{{ contenu.text2 }}</p>
        <img class=" histoirecol" src="/uploads/{{ contenu.image3 }}">
        <p class=" histoirecol text-break">{{ contenu.text3 }}</p>
    </div>

    <div class="row histoire">
        <img class=" histoirecol " src="/uploads/{{ contenu.image4 }}">
        <p class=" histoirecol text-break">{{ contenu.text4 }}</p>
        <img class=" histoirecol" src="/uploads/{{ contenu.image5 }}">
    </div>
</main>

    {% else %}
    <link rel="stylesheet" href="/css/main.css" />
    <div class="text-center p-5">
    <a class="btn btn-primary" href="{{ path('app_contenu_new') }}">Creer</a>
    </div>
        {% endfor %}
  
{% endblock %}
