{% extends 'base.html.twig' %}

{% block title %}New Contenu{% endblock %}

{% block body %}
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
{{ include('header/headerAdmin.html.twig') }}
    <h1>Create new Contenu</h1>

    {{ include('contenu/_form.html.twig') }}

    <a href="{{ path('app_contenu_index') }}">back to list</a>

    {% else %}
    {{ include('header/header.html.twig') }}
    <p>Accés refusé, veuillez vous connecter </p>
    {% endif %}
{% endblock %}
