{% extends 'base.html.twig' %}

{% block title %}Contenu{% endblock %}

{% block body %}
    <h1>Contenu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contenu.id }}</td>
            </tr>
            <tr>
                <th>Image1</th>
                <td>{{ contenu.image1 }}</td>
            </tr>
            <tr>
                <th>Image2</th>
                <td>{{ contenu.image2 }}</td>
            </tr>
            <tr>
                <th>Image3</th>
                <td>{{ contenu.image3 }}</td>
            </tr>
            <tr>
                <th>Image4</th>
                <td>{{ contenu.image4 }}</td>
            </tr>
            <tr>
                <th>Image5</th>
                <td>{{ contenu.image5 }}</td>
            </tr>
            <tr>
                <th>Text1</th>
                <td>{{ contenu.text1 }}</td>
            </tr>
            <tr>
                <th>Text2</th>
                <td>{{ contenu.text2 }}</td>
            </tr>
            <tr>
                <th>Text3</th>
                <td>{{ contenu.text3 }}</td>
            </tr>
            <tr>
                <th>Text4</th>
                <td>{{ contenu.text4 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contenu_index') }}">back to list</a>

    <a href="{{ path('app_contenu_edit', {'id': contenu.id}) }}">edit</a>

    {{ include('contenu/_delete_form.html.twig') }}
{% endblock %}
