{% extends 'base.html.twig' %}

{% block title %}Contenu index{% endblock %}

{% block body %}
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
{{ include('header/headerAdmin.html.twig') }}
<link rel="stylesheet" type="text/css" href="/css/reserv.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />





<div class="div_h2">
    <h2 class="text-center my-5">Espace Admin</h2>
</div>

<div class="m-5 p-3 formulaire fw-bold">
    <h3 class="bg-danger rounded p-2 mt-3 mb-5">Infos générales</h3>
<div class = "my-3"> 
    <h3>Commentaires</h3>
    <div class="text-success ">Visible : {{nbcommvis}}</div>
    <div class="text-danger">Non visible : {{nbcommnotvis}}</div>
    <div class="text-primary">Total : {{nbcommvis + nbcommnotvis}} </div>
</div>
<div class = "my-3"> 
    <h3>Produits</h3>
    <div class="text-success">Disponible : {{nbproduitsdispo}}</div>
    <div class="text-danger">Indisponible : {{nbproduitsindispo}}</div>
    <div class="text-primary">Total : {{nbproduitsdispo + nbproduitsindispo}} </div>
</div>
<div class = "my-3"> 
    <h3>Reservations</h3>
    <div class="text-primary">Total : {{nbreserv}}</div>
</div>
</div>



    {% else %}
    {{ include('header/header.html.twig') }}
    <p>Accés refusé, veuillez vous connecter </p>
    {% endif %}
{% endblock %}
