{% extends 'base.html.twig' %}

{% block title %}Edit Reservations{% endblock %}

{% block body %}


<link rel="stylesheet" type="text/css" href="/css/reserv.css" />
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
{{ include('header/headerAdmin.html.twig') }}

<main>
    <div class="div_h2"><h2>Modif reservation</h2></div>

    <div class="m-5 p-3 formulaire">
    {{ include('reservations/_form.html.twig', {'button_label': 'Update'}) }}

    <a class = "btn btn-primary my-3" href="{{ path('app_reservations_index') }}">back to list</a>

    {{ include('reservations/_delete_form.html.twig') }}

    </div>

    {% else %}
    {{ include('header/header.html.twig') }}
    <p>Accés refusé, veuillez vous connecter </p>
    {% endif %}
{% endblock %}
