{% extends 'base.html.twig' %}

{% block title %}Reservations index{% endblock %}

{% block body %}

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
{{ include('header/headerAdmin.html.twig') }}
<link rel="stylesheet" href="/css/reserv.css">  
<link rel="stylesheet" type="text/css" href="/css/main.css" />






  
<div class="div_h2">
    <h2 class="text-center my-5">Reservations</h2>
</div>

    <table class="table table-responsive-xl">
        <thead>
            <tr>
                <th class="responsivehide">Id</th>
                <th>Nom</th>
                <th class="responsivehide">Email</th>
                <th class="responsivehide">Telephone</th>
                <th>Nombres</th>
                <th>Heure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td class="responsivehide">{{ reservation.id }}</td>
                <td>{{ reservation.nom }}</td>
                <td class="responsivehide">{{ reservation.email }}</td>
                <td class="responsivehide">{{ reservation.telephone }}</td>
                <td>{{ reservation.nombres }}</td>
                <td>{{ reservation.heure ? reservation.heure|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary m-3" href="{{ path('app_reservations_show', {'id': reservation.id}) }}">show</a>
                    <a class="btn btn-primary m-3" href="{{ path('app_reservations_edit', {'id': reservation.id}) }}">edit</a>
                    {{ include('reservations/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class = "btn btn-primary" href="{{ path('app_reservations_new') }}">Create new</a>
    {% else %}
    {{ include('header/header.html.twig') }}
    <p>Accés refusé, veuillez vous connecter </p>
    {% endif %}


{% endblock %}
