{% extends 'base.html.twig' %}

{% block title %}New Reservations{% endblock %}

{% block body %}
{{ include('header/header.html.twig') }}
<link rel="stylesheet" href="/css/reserv.css">



    <h2 class="text-center">RESERVEZ VOTRE TABLE</h2>
    <div class = "formulaire m-5 px-5 py-2">
    {{ include('reservations/_form.html.twig') }}
    </div>
    
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <a class = "btn btn-primary mx-5" href="{{ path('app_reservations_index') }}">back to list</a>
    {% endif %}
{% endblock %}
