{% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block body %}

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
{{ include('header/headerAdmin.html.twig') }}

<link rel="stylesheet" href="/css/reserv.css">  
<link rel="stylesheet" type="text/css" href="/css/main.css" />






  
<div class="div_h2">
    <h2 class="text-center my-5">Reservations</h2>
</div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ reservation.nom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ reservation.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ reservation.telephone }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ reservation.nombres }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ reservation.heure ? reservation.heure|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary m-3" href="{{ path('app_reservations_index') }}">back to list</a>

    <a class="btn btn-primary m-3" href="{{ path('app_reservations_edit', {'id': reservation.id}) }}">edit</a>
    {{ include('reservations/_delete_form.html.twig') }}
</div>
    {%endif%}
{% endblock %}
