{% extends 'base.html.twig' %}

{% block title %}Hello CoordonneesController!{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="/css/coordonnees.css" />
<link rel="stylesheet" type="text/css" href="/css/reserv.css" />
{{ include('header/header.html.twig') }}

    <main>

      <div class = "div_titre">Nous contacter</div>

      <div class="coordonnées">
          <div id=coor1 class = "mx-3">
            <h3 class="py-5" >Coordonnées</h3>
            
            <div>Téléphone : <a href="tel:+0622334455">06 22 33 44 55</a></div>
            <div>Adresse aleatoire</div>
            <div>Adresse aleatoire</div>
            <div>email : deadcowdinner@gmail.com</div>
            <div class = "mb-5">ouvert du mardi au dimanche de 12h à 14h et de 19h à 22h</div>
          
          </div>





<div id=coor2>
<div class="map-responsive">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11637.250845074283!2d2.970082461833956!3d43.18194895274785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b1ac52defc6925%3A0xb10f76c5fd1d874a!2sIN&#39;ESS%20Le%20Grand%20Narbonne!5e0!3m2!1sfr!2sfr!4v1637682005272!5m2!1sfr!2sfr" width="800" height="1400"  loading="lazy"></iframe>
  </div>
</div>
<div id=coor3>

          <div><img src="/images/burger1.jpg" alt="burger savoureux"></div>
          <div><div id="bouton_acceuil" class="button">
            <a href="/">
              <input type="button" value="Accueil"></a>
              </div>
            </div>
        </div>
        </div>

</main>
{% endblock %}
